.form {
    margin: 3rem auto;
    width: 28rem;
    display: flex;
    flex-direction: column;
}

.form h1 {
    margin: auto;
    margin-bottom: 2rem;
    font-weight: 400;
}

.form input, .form label {
    margin: 0.6rem;
}

.form input {
    border-radius: 0.3rem;
    float: right;
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
}

.form label {
    float: left;
    height: 3rem;
    font-size: 2rem;
    font-weight: 100;
}